.creature {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    align-content: center;
}

.tete{
    align-items: center;
    position: relative;
    z-index: 3;
}
.corps{
    align-items: center;
    position: relative;
    bottom:11%;
    z-index: 2;
}
.jambes{
    align-items: center;
    position: relative;
    z-index: 1;
    bottom: 20%;
}

/*img:first-child {
    margin-top: 20px;
}*/