div {
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
}

img {
    width: 60%;
    height: 90%;
}

img:first-child {
    margin-top: 20px;
}