.creature {
    /*background-color: blue;*/
    display: flex;                                                                                                                               flex-direction: column;
    width: 200px;
    height: 400px;
    align-content: center;
}

img {
    height: 90%;
}
.tete{
    align-items: center;
    position: relative;
    z-index: 3;
    /*background-color: green;*/
}
.corps{
    align-items: center;
    position: relative;
    bottom:11%;
    /* background-color: pink;*/
     z-index: 2;
}
.jambe{
    align-items: center;
    position: relative;
    z-index: 1;
    bottom: 18%;
    /*background-color: rebeccapurple;*/
}

/*img:first-child {
    margin-top: 20px;
}*/