.creature {
    background-color: blue;
    display: flex;                                                                                                                               flex-direction: column;
    width: 200px;
    height: 400px;
    align-content: center;
}

img {
    height: 90%;
}
.tete{
    align-items: center;
    position: relative;
    z-index: 3;
}
.corps{
    align-items: center;
    position: relative;
    bottom: 9%;

    z-index: 2;
}
.jambe{
    align-items: center;

    position: relative;
    z-index: 1;
    bottom: 20%;
}