:root {
    --hauteur-ligne: 500px; /*Variable pour modifier la taille de la ligne */
}

::-webkit-scrollbar { display: none; }

body, #boutton_tirage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: small-caps bold 16px/2 cursive;
}
a:link 
{ 
 text-decoration:none; 
} 

/* css du header */
header {
    display: flex;
    flex-direction: row;
    /* height: calc(var(--hauteur-ligne) + 20%);    Fonction calcul pour changer de maniÃ¨re dynamique la hauteur de la page */
    width: 100%;
    border: 1px solid;
    justify-content: space-between;
    margin-bottom: 1%;
}

#navbar{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 2%;
    font-size:  1em;
}
#navbar div{margin: 2%;}

#titre{
    align-self: center;
    width:auto;
    margin: 2%;
    font-size: 2em;
}

.boxe_timer {
    background-color: skyblue;
    border-radius: 1em;
    width: 25%;
    margin: 2%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxe_boutton{
    background-color: skyblue;
    border-radius: 1em;
    width: 25%;
    margin: 2%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css du main */
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#jardin{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: var(--hauteur-ligne);
}
#infoCreature{
    width: 35%;
    height: var(--hauteur-ligne);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    background-color: grey;
    height: var(--hauteur-ligne);
    background-image:url(../images/jardins/herbe.jpg);
}
.bouton{
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 10%;
    height: auto;
}

.bouton div {
    height: auto;
}

/*----------------------------------------------------*/
/* Décrire l'animation */
@keyframes slideDownFadeIN {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
.modal:target {
    display: table;
    position: absolute;
}

/* la fenêtre modale  */
.modal {
    position: absolute;
    overflow: auto;
    display: table-cell;
    vertical-align: middle;
    background-color: rosybrown;
    width: 40%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slideDownFadeIN;
    animation-duration: 0.5s;
    z-index: 3;
}
.modal-header {
    padding: 2px 16px;
    text-align: center;
    background-color: #5cb85c;
    font-size: 25px;
    color: white;
}

/* Bouton servant à fermer la fenêtre modale */


.button-close-modal {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-left: auto;
    color: white;
    background-color: transparent;
    border: none;
}


/* affichage de créature */
.creature {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    align-content: center;
    margin-right: auto;
    margin-left:auto;

}

#a{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    height: inherit;
    width: 90%;

}

#volet .inventaire_creature, #jardin .inventaire_creature {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-content: center;
    width: 80%;

    margin-right: 1%;
    margin-left:1%;
    margin-top: 2%;
    font-size: 0.9em;
    text-align: center;


}
#infoCreature .inventaire_creature {
    display: flex;
    flex-direction: column;
    width:20%;
    align-content: center;
    margin-right: 2%;
    margin-left:2%;
    font-size: 1em;
    text-align: center;


}
.inventaire_creature ~ div{ display: flex;
flex-direction: column;

    }
#infoCreature{background-color: rosybrown;}

.tete{
    align-items: center;
    position: relative;
    z-index: 3;
}
.corps{
    align-items: center;
    position: relative;
    bottom:11%;
    z-index: 2;
}
.jambes{
    align-items: center;
    position: relative;
    z-index: 1;
    bottom: 20%;
}


/* Inventaire */
#collection{
    display: flex;
    width: 5%;
    height: var(--hauteur-ligne);


}
#volet {
    height: var(--hauteur-ligne);
    display: flex;
    flex-direction: row;
    justify-content: center;
	width: 60%;
    margin-right: 10px;
	background: #6B9A49; 
    color: #fff;	
    -webkit-transition: all .5s ease-in;
	transition: all .5s ease-in;


}

#creature{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    height: inherit;
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.1vw;


}

.boxCreature{
    /* flex-wrap: wrap; */

    position: relative;
    margin-top: 2%;
    width:20%;
    align-content: center;
    margin-right: 2%;
    margin-left:2%;
    font-size: 1em;
    text-align: center;

    display: flex;


    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    border: solid;
    border-radius: 2em;
}

.boxCreature p{
    white-space: nowrap;
    width:80%;
    overflow: hidden;
    text-overflow: clip;
   
}

.boxCreature div :first-child{
    position: absolute;
    bottom: 6%;
}

#volet .supprimerCreature{
    border-radius: 100px;
    margin: 10px 10px;
    width: 1.5vw;
    height: 1.5vw;
    background-size: 1.5vw;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    right: 0;

    position: absolute;
    bottom: 0;

    background-color: red;
    background-image: url("../images/poubelle.png");
}

/* #volet a.fermer {display: none;} */
/* #inventaire:target #volet {left: -100%;}
#volet:target a.ouvrir {display: none;}
#volet:target a.fermer {display: block;} */

a.ouvrir, a.fermer {
    padding: 10px 5px;
	background: #555;
	color: #fff;
	text-decoration: none;
	/* right: -88px; */
	top: 40%;
	-ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	border-radius: 0 0 8px 8px;
}

a.ouvrir {align-self: center;}
a.fermer {
align-self: center;}

#avatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 50%;
}


@media only screen and (max-width: 600px) {
    body{
        background-color: red;
    }

    a.ouvrir{
        height: 10%;
        left: 0;
    }

    #infoCreature {
        width: 80%;
        margin: 2%;
    }

    .inventaire_creature{
        display: flex;
    }



}
